                            <div class="info-item info-item-rastermap">
                                <div class="rastermap-title">{title}</div>
                                <div class="rastermap-time">
                                    <div class="rastermap-select-date">
                                        <div type="text" class="datepicker" style="width: 100px" id="date-grid"></div>
                                    </div>
                                    <div class="rastermap-select-time">
                                        <div class="rastermap-info">
                                            <div>Info : </div>
                                        </div>
                                        <select class="select-input" id="hour-grid">
                                            <option value="">00:00 UTC</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="rastermap-colorbar">
                                    <div class="rastermap-number-container">
                                        <div class="rastermap-number">{list}
                                        </div>
                                    </div>
                                    <div class="rastermap-colorbar-content">
                                        <div class="rastermap-legend-color">
                                            <img class="legend-color" width="340" height="14" src="" alt="">
                                        </div>
                                    </div>
                                    <div class="rastermap-unit-info">
                                    </div>
                                </div>
                            </div>