<div class="info-item info-item-multiline-graph">
    <div class="multilinegraph-title">Pasang Surut Prediksi vs Observasi</div>
    <div class="multilinegraph-time">
        <div class="multilinegraph-select-rgdate">
            <div class="multilinegraph-time-row">
                <div class="multilinegraph-graph-label">Dari</div>
                <input type="text" class="datepicker" style="width: 100px">
                <div class="multilinegraph-graph-label">Jam</div>
                <select class="select-input">
                    <option value="tlkjakarta">00:00</option>
                </select></div>
            <div class="multilinegraph-time-row">
                <div class="multilinegraph-graph-label">S/d</div>
                <input type="text" class="datepicker" style="width: 100px">
                <div class="multilinegraph-graph-label">Jam</div>
                <select class="select-input">
                    <option value="tlkjakarta">00:00</option>
                </select></div>

        </div>
    </div>
    <div class="multilinegraph-graph-container">
        <div class="multilinegraph-graph"></div>
    </div>
    <div class="multilinegraph-graph-lentime"></div>
</div>