<div class="info-item info-item-pred">
    <div class="pred-title">
        <div class="pred-title-desc" val="nama_area">Prediksi Area A </div>
        <!--<div class="pred-color"></div>-->
    </div>
    <div class="pred-container">
        <div class="pred-left">
            <div class="pred-left-icon" val="cuaca_icon">
                <i class="wi wi-storm-showers" style="font-size: 45pt"></i>
            </div>
            <div class="pred-left-desc" val="cuaca_desc">Hujan Petir</div>
        </div>
        <div class="pred-right">
            <div class="pred-right-col1">
                <div class="pred-items" val="cuaca_angin"><i
                        class="wi wi-strong-wind ico-pred"></i>
                    <div>6 - 15 Knot</div>
                </div>
                <div class="pred-items" val="cuaca_visibility"><i
                        class="wi wi-dust ico-pred"></i>
                    <div>2 Km</div>
                </div>
                <div class="pred-items" val="cuaca_gelombang"><i
                        class="wi wi-flood ico-pred"></i>
                    <div>0.5 - 1 m</div>
                </div>
            </div>
            <div class="pred-right-col2">
                <div class="pred-items" val="cuaca_suhuudara"><i
                        class="wi wi-thermometer ico-pred"></i>
                    <div>27°C - 30°C</div>
                </div>
                <div class="pred-items" val="cuaca_kelembapan"><i
                        class="wi wi-humidity ico-pred"></i>
                    <div>82% - 88%</div>
                </div>
                <div class="pred-items" val="cuaca_pasut"><i
                        class="wi wi-moonrise ico-pred"></i>
                    <div>Maks 2,4 m pada
                        <br> (15:00 - 16:09 WIB)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pred-time" val="nama_area">
        Berlaku 11/11/18 06.00 WIB - 11/11/18 19:00 WIB
    </div>
</div>

<div class="info-item info-item-pred">
    <div class="pred-title">
        <div class="pred-title-desc" val="nama_area">Prediksi Area B</div>
    </div>
    <div class="pred-container">
        <div class="pred-left">
            <div class="pred-left-icon" val="cuaca_icon">
                <i class="wi wi-showers" style="font-size: 45pt"></i>
            </div>
            <div class="pred-left-desc" val="cuaca_desc">Hujan Sedang</div>
        </div>
        <div class="pred-right">
            <div class="pred-right-col1">
                <div class="pred-items" val="cuaca_angin"><i
                        class="wi wi-strong-wind ico-pred"></i>
                    <div>5 - 12 Knot</div>
                </div>
                <div class="pred-items" val="cuaca_visibility"><i
                        class="wi wi-dust ico-pred"></i>
                    <div>9 Km</div>
                </div>
                <div class="pred-items" val="cuaca_gelombang"><i
                        class="wi wi-flood ico-pred"></i>
                    <div>0.5 - 1 m</div>
                </div>
            </div>
            <div class="pred-right-col2">
                <div class="pred-items" val="cuaca_suhuudara"><i
                        class="wi wi-thermometer ico-pred"></i>
                    <div>27°C - 29°C</div>
                </div>
                <div class="pred-items" val="cuaca_kelembapan"><i
                        class="wi wi-humidity ico-pred"></i>
                    <div>80% - 88%</div>
                </div>
                <div class="pred-items" val="cuaca_pasut"><i
                        class="wi wi-moonrise ico-pred"></i>
                    <div>Maks 2,2 m pada
                        <br> (15:10 - 16:29 WIB)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pred-time" val="nama_area">
        Berlaku 11/11/18 06.00 WIB - 11/11/18 19:00 WIB
    </div>
</div>


<div class="info-item info-item-pred">
    <div class="pred-title">
        <div class="pred-title-desc" val="nama_area">Prediksi Area C</div>
    </div>
    <div class="pred-container">
        <div class="pred-left">
            <div class="pred-left-icon" val="cuaca_icon">
                <i class="wi wi-cloudy" style="font-size: 45pt"></i>
            </div>
            <div class="pred-left-desc" val="cuaca_desc">Berawan</div>
        </div>
        <div class="pred-right">
            <div class="pred-right-col1">
                <div class="pred-items" val="cuaca_angin"><i
                        class="wi wi-strong-wind ico-pred"></i>
                    <div>5 - 7 Knot</div>
                </div>
                <div class="pred-items" val="cuaca_visibility"><i
                        class="wi wi-dust ico-pred"></i>
                    <div>8 Km</div>
                </div>
                <div class="pred-items" val="cuaca_gelombang"><i
                        class="wi wi-flood ico-pred"></i>
                    <div>0.5 - 1 m</div>
                </div>
            </div>
            <div class="pred-right-col2">
                <div class="pred-items" val="cuaca_suhuudara"><i
                        class="wi wi-thermometer ico-pred"></i>
                    <div>28°C - 30°C</div>
                </div>
                <div class="pred-items" val="cuaca_kelembapan"><i
                        class="wi wi-humidity ico-pred"></i>
                    <div>81% - 88%</div>
                </div>
                <div class="pred-items" val="cuaca_pasut"><i
                        class="wi wi-moonrise ico-pred"></i>
                    <div>Maks 2,1 m pada
                        <br> (15:00 - 16:09 WIB)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pred-time" val="nama_area">
        Berlaku 11/11/18 06.00 WIB - 11/11/18 19:00 WIB
    </div>
</div>